body {
	font-family: 'Notable';
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), #00000080), url("Darkmark.jpg");
	background-color: #cccccc;
	height: 100vh;
}

@font-face {
	font-family: "HarryP";
	src: url("fonts/HARRYP__.TTF");}

#header {
	font-family: "HarryP" , Arial, sans-serif;
	color: lime;
	font-size: 75px;
}


#quiz {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	}

}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: greenyellow;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;


}

#picture {
	width: 375px;
	height: 245px;
}



#mc {
	display: inline;
} body {
	font-family: "HarryP" , Arial, sans-serif;
	color: limegreen;
	font-size: 40px;
}



#quiz {
	margin-left: 20px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), #00000080);
	padding: 10px 20px 10px 20px;
	width: 500px;
	border-radius: 20px;
	float: left;

}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), #00000080);
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;


}

#picture {
	width: 375px;
	height: 245px;
}



#mc {
	display: inline;
} 


/adjusting to be mobile friendly/

@media screen and (max-width: 992px) {
	body > h2 {
	  font-size:35px;
	}
  }
